[project]
	description = the website for KDE conf
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony Thomas (tonythomas01)
[access "refs/for/refs/*"]
	read = group user/Tony Thomas (tonythomas01)
	push = group user/Tony Thomas (tonythomas01)
	label-Code-Review = -2..+2 group user/Tony Thomas (tonythomas01)
	label-Verified = -1..+1 group user/Tony Thomas (tonythomas01)
	rebase = group user/Tony Thomas (tonythomas01)
	removeReviewer = group user/Tony Thomas (tonythomas01)
	submit = group user/Tony Thomas (tonythomas01)
	exclusiveGroupPermissions = push label-Code-Review submit
[access "refs/heads/*"]
	read = group user/Tony Thomas (tonythomas01)
	create = group user/Tony Thomas (tonythomas01)
	push = +force group user/Tony Thomas (tonythomas01)
	pushMerge = group user/Tony Thomas (tonythomas01)
	exclusiveGroupPermissions = push pushMerge
[access "refs/tags/*"]
	push = +force group user/Tony Thomas (tonythomas01)
	pushTag = group user/Tony Thomas (tonythomas01)
	pushSignedTag = group user/Tony Thomas (tonythomas01)
	exclusiveGroupPermissions = push
